* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 1400px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.services {
    padding: 110px 0 80px;
}

.section-title {
    text-transform: uppercase;
    font-size: 48px;
    color: #3D3E40;
}

.colored-title {
    color: #BF894B;
}

/* HEADER */
.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url(IMG/header_bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 240px;
}

.prenav {
    display: flex;
    align-items: center;
}

.main-logo {
    display: flex;
}

.main-logo__name {
    margin-left: -55px;
}

.search-field {
    background-color: #fff;
    border-radius: 32px;
    padding: 5px 20px;
    width: 326px;
    margin-left: 32px;
}

.search-button {
    background: url(IMG/search.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #fff;
    vertical-align: middle;
}

.search-input {
    border: none;
    margin-left: 10px;
    width: 85%;
}

.adress {
    width: 248px;
    margin-left: 32px;
    color: #fff;
    display: flex;
}

.location-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.adress__content {
    margin-left: 8px;
}

.adress a {
    display: flex;
    color: #AFAFAF;
    font-size: 16px;
    margin-top: 5px;
}

.phone {
    width: 237px;
    margin-left: 39px;
    color: #fff;
    display: flex;
}

.phone__content {
    margin-left: 4px;
}

.phone__content a {
    display: block;
    font-size: 24px;
    color: #fff;
    margin: 4px 0;
}

.phone span {
    color: #AFAFAF;
    font-size: 16px;
}

.request-call {
    border: #fff solid 1px;
    border-radius: 48px;
    padding: 17px 43px;
    width: 234px;
    height: 56px;
}

.request-call a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 140%;
}

.nav {
    background-color: #2C2C2C;
    padding: 16px 18px;
    border-radius: 24px;
    margin-top: 24px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 29px;
}

.nav ul a {
    color: #fff;
    font-size: 16px;
}

.main-title {
    width: 864px;
    text-align: center;
    margin: 120px auto 0;
    color: #fff;
    font-size: 72px;
}

.offer {
    color: #fff;
    font-size: 32px;
    text-align: center;
    width: 670px;
    margin: 20px auto 0;
}

.consultation {
    margin: 48px auto 0;
    text-align: center;
}

.consultation__phone {
    border-radius: 48px 0px 0px 48px;
    padding: 10px 24px;
    border: none;
    color: #B8C0C6;
}

.consultation__get {
    border: none;
    border-radius: 48px;
    background: #C8A06F;
    padding: 10px 45px;
    margin-left: -21px;
    color: #fff;
    text-transform: uppercase;
    /* transition: all 0.5s ease; */
}

.consultation__get:hover {
    cursor: pointer;
    background: linear-gradient(134deg, #C8A06F -0.01%, #BF894B 100.03%);
    transition: all 0.5s ease;
}

/* SERVICES */
.services {
    background-color: #F7F9FC;
}

.section-title {
    text-transform: uppercase;
    font-size: 48px;
    color: #3D3E40;
}

.services__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 685px 685px;
    column-gap: 30px;
    row-gap: 39px;
}

.service {
    background-color: #fff;
    border-radius: 16px;
    width: 685px;
    height: 514px;
    padding: 35px 90px 40px 40px;
    position: relative;
}

.service-title {
    text-transform: uppercase;
    font-size: 32px;
    color: #3D3E40;
}

.service-conditions {
    margin-top: 24px;
    position: relative;
}

.service-conditions__items {
    margin-top: 8px;
    margin-left: 25px;
    line-height: 160%;
    font-size: 18px;
}

.service-conditions__items::before {
    content: ' ';
    position: absolute;
    width: 19px;
    height: 16px;
    background-image: url(IMG/Vector.svg);
    left: 0;
}

.learn-more {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #C8A06F;
    border: none;
    border-radius: 48px;
    position: absolute;
    bottom: 40px;
    width: 244px;
    height: 72px;
}

.learn-more:hover {
    cursor: pointer;
    background: linear-gradient(134deg, #C8A06F -0.01%, #BF894B 100.03%);
    transition: all 0.5s ease;
}

/* COUNTRIES */
.countries {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url(IMG/route_bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 111px 0 90px;
}

.left {
    width: 608px;
}

.countries-visited {
    color: #A6A6A6;
    font-size: 20px;
    text-transform: uppercase;
}

.countries-title {
    color: #fff;
    margin-top: 8px;
}

.countries-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 31px;
    margin-bottom: 47px;
}

.countries-description_bold {
    font-weight: 700;
}

.countries__learn-more {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #C8A06F;
    border: none;
    border-radius: 48px;
    bottom: 40px;
    width: 244px;
    height: 72px;
}

.countries__learn-more:hover {
    cursor: pointer;
    background: linear-gradient(134deg, #C8A06F -0.01%, #BF894B 100.03%);
    transition: all 0.5s ease;
}

.choose-country {
    margin-left: 84px;
    display: grid;
    grid-template-columns: 327px 327px;
    gap: 30px;
}

.country {
    background-color: #fff;
    border-radius: 16px;
    padding: 35px 41px 35px 35px;
}

.country__name {
    margin-top: 16px;
    font-size: 24px;
    text-transform: uppercase;
    color: #3D3E40;
}

.conditions {
    color: #9E9E9F;
    font-size: 16px;
    margin-top: 12px;
}

.price {
    margin-top: 12px;
    color: #3D3E40;
    font-size: 32px;
}

.price span {
    font-size: 18px;
}

.slider-container {
    cursor: pointer;
    margin-left: 16px;
    width: 8px;
    height: 185px;
    border-radius: 8px;
    background: rgba(244, 245, 248, 0.30);
}